 <div class="row">
    <div class="column">
        <form class="form" [formGroup]="bookForm">
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputSurname" class="col-form-label">Тип джерела</label>
                </div>
                <select class="custom-select" formControlName="type">
                        <option value="book" (change)="changeType($event)" selected="selected">Книга</option>
                </select>
            </div>
            <label class="col-form-label">Головний автор:</label><br/>
            <div class="div-group"  formGroupName="mainAuthor">
                <div class="form-group-padding row form-group-padding">
                    <div class="col-sm-2">
                        <label for="inputMainSurname" class="col-form-label">Прізвище</label>
                    </div>
                    <div class="col-sm-10">
                        <input formControlName="surname" class="form-control" id="inputMainSurname" placeholder="surname" name="mainAuthor.surname">
                    </div>
                </div>
                <div class="form-group row form-group-padding">
                    <div class="col-sm-2">
                        <label for="inputMainName" class="col-form-label">Ініціали</label>
                    </div>
                    <div class="col-sm-10">
                        <input formControlName="name" class="form-control" id="inputMainName" placeholder="name" name="mainAuthor.name">
                    </div>
                </div>
            </div>
            <ng-container formArrayName="addAuthor">
                <div *ngFor="let auth of bookForm.get('addAuthor')['controls']; let i=index">
                    <div [formGroupName]="i">
                        <label class="col-form-label">Ще автор:</label><br/>
                        <div class="div-group">
                            <div class="form-group-padding row form-group-padding">
                                <div class="col-sm-2">
                                    <label for="inputSurname" class="col-form-label">Прізвище</label>
                                </div>
                                <div class="col-sm-10">
                                    <input formControlName="surname" class="form-control" id="inputSurname" placeholder="surname" name="surname">
                                </div>
                            </div>
                            <div class="form-group row form-group-padding">
                                <div class="col-sm-2">
                                    <label for="inputName" class="col-form-label">Ініціали</label>
                                </div>
                                <div class="col-sm-10">
                                    <input formControlName="name" class="form-control" id="inputName" placeholder="name" name="name">
                                </div>
                            </div>
                            <button class="btn  btn-danger btn-sm rounded-0 authorbtn" (click)="deleteAdditionalAuthors(i)">Видалити</button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <button class="btn btn-default authorbtn" (click)="addAdditionalAuthors()">Додати автора</button>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputChapter" class="col-form-label">Частина книги</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="chapter" class="form-control" id="inputChapter" placeholder="chapter" name="chapter">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputBook" class="col-form-label">Назва книги<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="book" class="form-control" id="inputBook" placeholder="book" name="book" required>
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputBookType" class="col-form-label">Тип книги/переклад/редація</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="bookType" class="form-control" id="inputBookType" placeholder="booktype" name="booktype">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputRedaction" class="col-form-label">Під редакцією</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="redaction" class="form-control" id="inputRedaction" placeholder="під ред. Імярек" name="redaction">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputCity" class="col-form-label">Місто видання<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="city" class="form-control" id="inputCity" placeholder="city" name="city">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputPublish" class="col-form-label">Видавництво<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="publish" class="form-control" id="inputPublish" placeholder="publish" name="publish">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputYear" class="col-form-label">Рік видання<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="year" class="form-control" id="inputYear" placeholder="year" name="year">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputPage" class="col-form-label">Сторінки<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="page" class="form-control" id="inputPage" placeholder="page" name="page">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputISBN" class="col-form-label">ISBN</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="ISBN" class="form-control" id="inputISBN" placeholder="ISBN" name="ISBN">
                </div>
            </div>
         </form>
    </div>
    <div class="column">
        <div *ngFor="let ref of referenceList; let i=index" style="margin-bottom:10px;">
                <label>{{ref}}</label> 
                <button class="btn btn-danger btn-sm rounded-0" style="margin-left:20px;" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"  (click)="deleteReference(i)">X</button>
        </div>

        <label style="color:red;">{{errorMessage}}</label>
        <label class="current-reference">{{reference}}</label><br/>
        <button class="btn btn-default" (click)="addReference()" *ngIf="formValid">Додати посилання до списку</button>
    </div>
</div>
 