 <div class="row">
    <div class="column">
        <form class="form" [formGroup]="bookForm">
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputSurname" class="col-form-label">Тип джерела</label>
                </div>
                <select class="custom-select" formControlName="type">
                        <option value="book" (change)="changeType($event)" selected="selected">Книга</option>
                </select>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="isOrgAuth" class="col-form-label">Автором є організація</label>
                </div>
                <div style="float: left; margin-left: 20px; margin-top: 20px;">
                    <input type="checkbox" formControlName="isOrgAuth" class="checkbox"  style="float: left;" id="isOrgAuth" name="isOrgAuth"/>
                </div>
            </div>
            <div *ngIf="!showAuthorNamesInput">
                <label class="col-form-label">Головний автор:</label><br/>
                <div class="div-group"  formGroupName="mainAuthor">
                    <div class="form-group-padding row form-group-padding">
                        <div class="col-sm-2">
                            <label for="inputMainSurname" class="col-form-label">Прізвище</label>
                        </div>
                        <div class="col-sm-10">
                            <input formControlName="surname" class="form-control" id="inputMainSurname" placeholder="Петренко" name="mainAuthor.surname">
                        </div>
                    </div>
                    <div class="form-group row form-group-padding">
                        <div class="col-sm-2">
                            <label for="inputMainName" class="col-form-label">Ініціали</label>
                        </div>
                        <div class="col-sm-10">
                            <input formControlName="name" class="form-control" id="inputMainName" placeholder="Д. П." name="mainAuthor.name">
                        </div>
                    </div>
                </div>
                <ng-container formArrayName="addAuthor">
                    <div *ngFor="let auth of bookForm.get('addAuthor')['controls']; let i=index">
                        <div [formGroupName]="i">
                            <label class="col-form-label">Ще автор:</label><br/>
                            <div class="div-group">
                                <div class="form-group-padding row form-group-padding">
                                    <div class="col-sm-2">
                                        <label for="inputSurname" class="col-form-label">Прізвище</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input formControlName="surname" class="form-control" id="inputSurname" placeholder="Однороженко" name="surname">
                                    </div>
                                </div>
                                <div class="form-group row form-group-padding">
                                    <div class="col-sm-2">
                                        <label for="inputName" class="col-form-label">Ініціали</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input formControlName="name" class="form-control" id="inputName" placeholder="В. І." name="name">
                                    </div>
                                </div>
                                <button class="btn  btn-danger btn-sm rounded-0 authorbtn" (click)="deleteAdditionalAuthors(i)">Видалити</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="form-group row form-group-padding">
                    <button class="btn btn-default authorbtn" (click)="addAdditionalAuthors()" style="float: left;">Додати автора</button>
                    <div style="float: left; margin-left: 20px; margin-top: 20px;">
                        <input type="checkbox" formControlName="other" class="checkbox"  style="float: left;" id="inputOther" name="otehr"/>  та інші
                    </div>
                </div>
            </div>
            <div *ngIf="showAuthorNamesInput">
                <div class="form-group-padding row form-group-padding">
                    <div class="col-sm-2">
                        <label for="orgAuthor" class="col-form-label">Організація як автор</label>
                    </div>
                    <div class="col-sm-10">
                        <input formControlName="orgAuthor" class="form-control" id="orgAuthor" placeholder="Інститут низьких температур" name="orgAuthor">
                    </div>
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputChapter" class="col-form-label">Частина книги</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="chapter" class="form-control" id="inputChapter" placeholder="Розділ 1" name="chapter">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputBook" class="col-form-label">Назва книги/статті<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="book" class="form-control" id="inputBook" placeholder="Кобзар" name="book" required>
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputSurname" class="col-form-label">Тип інформації в джерелі</label>
                </div>
                <div class="col-sm-10">
                    <select class="custom-select" formControlName="bookTypeText">
                            <option value="">Виберіть тип інформації</option>
                            <option value="Текст" selected="selected">Текст</option>
                            <option value="Електронний ресурс" selected="selected">Електронний ресурс</option>
                            <option value="Карти" selected="selected">Карти</option>
                            <option value="Рукопис" selected="selected">Рукопис</option>
                    </select>
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputBookType" class="col-form-label">Опис книги/переклад</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="bookType" class="form-control" id="inputBookType" placeholder="у 10 т." name="booktype">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputRedaction" class="col-form-label">Під редакцією / установа</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="redaction" class="form-control" id="inputRedaction" placeholder="під ред. Імярек" name="redaction">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="journal" class="col-form-label">Журнал/Збірник матеріалів по події</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="journal" class="form-control" id="journal" placeholder="Вісник автоматизації" name="journal">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="journalDetails" class="col-form-label">Пояснення по збірнику матеріалів</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="journalDetails" class="form-control" id="journalDetails" placeholder="матеріали IV Міжнар. наук.-практ. конф., Київ, 21–23 трав. 2007 р." name="journalDetails">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="journalPlace" class="col-form-label">Місце проведення події</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="journalPlace" class="form-control" id="journalPlace" placeholder="М-во образования и науки Украины, Нац. аэрокосм. ун-т им. Н. Е. Жуковского «ХАИ»" name="journalPlace">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputCity" class="col-form-label">Місто видання<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="city" class="form-control" id="inputCity" placeholder="Харків" name="city">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputPublish" class="col-form-label">Видавництво<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="publish" class="form-control" id="inputPublish" placeholder="Видавництво Наукова думка" name="publish">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputYear" class="col-form-label">Рік видання<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="year" class="form-control" id="inputYear" placeholder="2020" name="year">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputPage" class="col-form-label">Сторінки<span class="red-star">*</span></label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="page" class="form-control" id="inputPage" placeholder="22" name="page">
                </div>
            </div>
            <div class="form-group row form-group-padding">
                <div class="col-sm-2">
                    <label for="inputISBN" class="col-form-label">ISBN</label>
                </div>
                <div class="col-sm-10">
                    <input formControlName="ISBN" class="form-control" id="inputISBN" placeholder="ISBN 978-123-45-678-9" name="ISBN">
                </div>
            </div>
         </form>
    </div>
    <div class="column">
        <div *ngFor="let ref of referenceList; let i=index" style="margin-bottom:10px;">
                <label>{{ref}}</label> 
                <button class="btn btn-danger btn-sm rounded-0" style="margin-left:20px;" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"  (click)="deleteReference(i)">X</button>
        </div>

        <label style="color:red;">{{errorMessage}}</label>
        <label class="current-reference">{{reference}}</label><br/>
        <button class="btn btn-default" (click)="addReference()" *ngIf="formValid">Додати посилання до списку</button>
    </div>
</div>
 